*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: cadetblue;
    color: white;
    text-align: center;
    margin: auto;
    
}

section{
    overflow: hidden;
    background-image: url(../Desafio_02/images/people.jpg);
    padding: 20px;
    background-size: cover;
}
.title{
    font-size: 14px;
    font-family: cursive;
}

.formContainer{
    max-width: 200px;
    background-color: #ffffffbb;
    float: right;
    padding: 20px;
}
.mb{
    margin-bottom: 15px;
}

h2{
    font-size: 16px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;  
}

input[type="submit"]{
    color:white;
    background-color: cadetblue;
    font-weight: bold;
}

select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-image: url(../Desafio_02/images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

footer{
    background-color: #202121;
    text-align: center;
    padding: 40px;
}
.picture{
    width: 160px;
}
.description{
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}

.description p, .description h3{
    margin-bottom: 20px;
}